<div id="<%= dom_id student %>">
  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= student.subject %>
  </p>

  <p>
    <strong>Mark:</strong>
    <%= student.mark %>
  </p>

</div>
